.header {
  background-color: #333;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  background: url("H:\kyrsovai\public\newback.jpg") center/cover no-repeat fixed;
  font-family: "Arial", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.search-bar {
  flex: 1;
  margin-right: 10px;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
}

.search-bar:focus {
  outline: none;
  border-color: #ff0000;
  box-shadow: 0 0 5px rgba(171, 3, 3, 0.5);
}

/* Header.css */
.logo {
  flex: 1;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
}

.greeting-container {
  text-align: center;
  padding: 20px;
  color: rgb(255, 255, 255);
}

.game-frames-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.greeting-container p {
  text-align: center;
  color: rgb(241, 240, 236);
  font-size: 28px;
  font-family: "Pacifico", cursive;
}
